{% load static %}

<body>
  <script src="{% static 'js/example.js' %}"></script>
  <div>
    <a
      id="link"
      href="#"
      data-controller="example"
      data-action="click->example#increment"
      data-count="{{ count }}">
      Increment
    </a>
    <div id="counter">{{ count }}</div>
  </div>

  <div>
    <!-- This reflex is never registered in javascript -->
    <button
      id="decrementor"
      data-reflex="click->DecrementReflex#decrement"
      data-step="1"
      data-count="{{ otherCount }}"
    >Decrement</button>
    <div id="counter-2">{{ otherCount }}</div>
  </div>


  <div class="form-test">
    <form action="">
      <input id="text-input" name="text-input" type="text">
      <input type="text" name="text-input2">
      <button id="submit" data-reflex="click->FormReflex#submit">Submit</button>
    </form>
  </div>

  <span id="text-output">{{ text_output }}</span>
</body>
